*{
  color:#3F3B50;
  text-align: left;
}

header {
  height: 555px;
  margin:0 6% 40px 6%;
 }


main, .main{
  max-width:1250px;
  margin:0 auto;
}

/* navigation */
nav{
  padding:15px 95px;
}

nav ul {
  float:right;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 8px;
}

section{
  margin-top: 50px;
  margin-bottom: 100px;
}

footer {
  background-color: #3F3B50;
  color: #9BA0B3;
  display: block;
  position: static;
  height: 60px;
  width: 100%;
}

footer > nav {
  display: inline-flex;
  margin-left:7%;
  float:left;
}

footer > ul {
 display: inline;
 font-size: 1rem;
 }

footer > .social-media{
  float:right;
}


/** other projects section **/
.other-projects {
  display:flex;
  margin-top: 30px;
}

.middle-project{
  margin:0 33px;
}
.project .project-name {
  font-family: PaulGrotesk-Bold;
  font-size: 20px;
  letter-spacing: .1rem;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}


/*** typography ***/

a {
  color:#F07E81;
  font-family: PaulGroteskSoft-Light;
  font-size: 20px;
  text-decoration: none;
}
  a:hover{
    color:#F0CF7E;
    /*font-family: PaulGrotesk-Regular;*/
  }

/* footer */
footer > li {
  color: #9BA0B3;
  display: inline;
}

footer a i{
  color: #9BA0B3;
}

footer>nav>ul>li>a {
  color: #9BA0B3;
  font-family: PaulGrotesk-SemiBold;
  font-size: 18px;
  margin-right: 70px;
  margin-top:
}
  footer>nav>ul>li>a:hover {
    color:#F07E81;
  }

footer > p {
  color: #F07E81;
}

/* header */
header h1, header p{
  margin-left: 220px;
  padding:6px;
  position: relative;
    top: -80px;
  width:710px;
}


/* general text */
h1 {
  font-family: PaulGrotesk-Bold;
  font-size:80px ;
}

h2{
  font-family: PaulGrotesk-Bold;
  font-size:45px ;
}

h3{
  font-family: PaulGroteskSoft-Bold;
  font-size:45px ;
  letter-spacing: .2rem;
}

h4{
  font-family: PaulGroteskSoft-Bold;
  font-size:40px ;
}

p{
}

.caseStudy-text {
  font-family: PaulGrotesk-Regular;
  font-size: 18px;
  letter-spacing: .05rem;
}

.desc{
  font-family: PaulGrotesk-Light;
  font-size: 22px;
  letter-spacing: .07rem;
  line-height: 29px;
}

.uppercase{
  text-transform: uppercase;
}

.read-more:hover i{
  color:#F0CF7E;
}

/* Featured project & homepage */
.feat-textbox{
  width:50%;
  margin:0 auto;
}
.feat-project-text > h2{
  letter-spacing: .5rem;
  margin-bottom: 10px;
  text-align: center;
}

.feat-project-text > .label{
  margin-bottom: 20px;
  text-align: center;
}

.feat-project-text > .desc{
  margin: 0 25% 20px 25%;
  text-align: justify;
  width:50%;
}

.feat-project > .read-more{
  color:#F07E81;
  margin-left: 25%
}
  .feat-project > .read-more:hover{
    color:#F0CF7E;
  }

.label {
  color: #9BA0B3;
  font-family: PaulGrotesk-SemiBold;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.slogan {
  font-family: PaulGrotesk-UltraLight;
  font-size: 44px;
  letter-spacing: .2rem;
  line-height: 50px;
}



/*Icons*/
.fas.fa-caret-right{
  color:#F07E81;
  padding:10px 5px 0px 5px;
  width:15px;
}

/*Images and backgrounds and logo*/
  /*homepage*/
.logo {
  display: inline;
  height:132px;
  margin-left: 113px;
  margin-top: 130px;
  position: relative;
    top: 15px;
    z-index: 1;
}

.feat-bg {
  background-image: url("../images/homepage/space-featBG.png");
  margin-bottom: 150px;
}

.feat-project > div > a > img{
  width:875px;
  position: relative;
    top:70px;
    left:15%;
}

 /*@media screen and (max-width: 1024px) {
    header.mdl-layout__header {
      display: flex;
    }*/
  }
